<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'sweetalert/sweetalert.css' %}">
    <style>
        div.sweet-alert.showSweetAlert h2 {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 70px">
            <a href="/logout/">注销</a>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>出版社名称</th>
                    <th>出版社地址</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for publisher in publisher_list %}
                    <tr pid="{{ publisher.id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ publisher.pname }}</td>
                        <td>{{ publisher.addr }}</td>
                        <td>
                            <button class="btn btn-warning">编辑</button>
                            <button class="btn btn-danger delete-btn">删除</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% csrf_token %}
<script src="{% static 'jQuery.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
<script src="{% static 'sweetalert/sweetalert.js' %}"></script>
<script> // https://github.com/lipis/bootstrap-sweetalert
    $('.delete-btn').click(function () {
        var deleteId = $(this).parent().parent().attr('pid');
        swal({
                title: "你确定要删除吗？",
                text: "删除就找不回来了",
                type: "warning", // success/info/warning/error
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                showLoaderOnConfirm: true //点击确认按钮之后会有一个加载的动画
            },
            function () { //当点击确认按钮的时候会执行这个匿名函数
                $.ajax({
                    url:'/delete_publisher/',
                    type: 'post',
                    data:{id:deleteId,csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val()},
                    success: function (res) {
                        if (res.code===0){
                            // 删除成功
                            // 在页面上删除当前行数据
                            var $currentTr = $('[pid='+deleteId+']');
                            //更新序号
                            // 1 先找到当前行后面所有的tr
                            $currentTr.nextAll('tr');
                            // 2 tr的第一个td 依次-1
                            $currentTr.nextAll('tr').each(function () {
                                var num = $(this).children().eq(0).text()-1;
                                $(this).children().eq(0).text(num);
                            });
                            // 删掉当前行
                            $currentTr.remove();
                            // 删除成功
                            swal('删除成功','准备跑路吧','success');

                        } else {
                            //删除失败
                            swal('删除失败',res.err_msg, 'error');
                        }
                    }
                })
            });
    })
</script>
</body>
</html>